@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Passions+Conflict&display=swap');

:root {

  --primary-color: #5D3A00;
  --secondary-color: #C9ADA7;
  --accent1-color: #22223B;
  --accent2-color: #4A4E69;


  --heading-font: "Berkshire Swash";
  --paragraph-font: "Berkshire Swash", Helvetica, sans-serif;


  --headline-color-on-white: #22223B;  /* headlines on a white background */ 
  --headline-color-on-color: #F2E9E4; /* headlines on a colored background */ 
  --paragraph-color-on-white: #5D3A00; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #F2E9E4; /* paragraph text on a colored background */ 
  --paragraph-background-color: #5D3A00;
  --nav-link-color: #C9ADA7;
  --nav-background-color: #4A4E69;
  --nav-hover-link-color: #22223B;
  --nav-hover-background-color: #F2E9E4;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
  background-image: "background-img" ;
}
img {
  display: block;
  margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
h2 {
  text-align: center;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}
header {
  padding: 1em;
  text-align: center;
  color: var(--paragraph-color-on-color);
  background-color: var(--paragraph-background-color);
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}
p {
  font-family: var(--paragraph-font);
  font-size: 1em;
  color: var(--paragraph-color);
  padding: 1em; 
}
.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td{
  width: 25%;
  height: 3em;
}

.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2{
  background-color: var(--accent2-color);
}

p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}
.logo{
    width: 150px;
}
#logo_link {
    justify-self: center;
    align-self: center;
}
nav {
  background-color: var(--nav-background-color);
  line-height: 5em;
  text-align: center;
  font-size: 2em;
  font-family: var(--heading-font);
}
nav  {
  justify-content: space-around;
  display: flex;
}
nav a {
  padding:1em;
  min-width: 120px;
  text-decoration: underline;
  padding: 10px;
}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
  padding-top: 15px;
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}
main {
    padding-top: 75px;
}
main h4 {
    padding-bottom: 50px;
}
main #toc-main {
   color: #33b1d1 
}
#edee-home {
    padding-top: 70px;   
}

.conclusion-img {
    width: 1200px;
    padding-left: 20px;
    padding-top: 30px; 
}
footer {
    background-color: #664E4C;
    padding: 25px 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}
footer p {
    font-size: 1.2em;
    background-color: #F0F4F2;
}
footer p a:hover {
    text-decoration: underline;
} 
footer h3 {
    color:  #4A4E69;
    background-color: #F0F4F2;
}
footer a {
    color:  #33b1d1;
    text-decoration: none;
}
footer a:hover {
    color:  #F0F4F2;
    background-color: #33b1d1;
}
.essay {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding-top: 25px;
  background: image("background.png");
  padding-bottom: 10px;   
}
.essay h2 {
  grid-column: 1/9;
  padding-bottom: 40px;
  color: #4A4E69;
}
.shepherd2-img {
  grid-column: 1/9;
  padding-bottom: 100px;
  color: #F2E9E4;
}
.shepherd1-img {
  width: 400px;
  grid-column: 3/4
}
.shepherd3-img {
  width: 500px;
  height: 500px;
  grid-column: 6/7;
  margin-top: 90px;
}
.myself2-img {
  grid-column: 1/9;
  padding-bottom: 100px;
  color: #F2E9E4;
}
.myself3-img {
  width: 300px;
  grid-column: 4/5
}
.myself4-img {
  grid-column: 1/9;
  padding-bottom: 100px;
  color: #F2E9E4;
}

.julie1-img {
    width: 300px;
    grid-column: 3/4
}
.julie2-img {
    width: 900px;
    height: 500px;
    grid-column: 6/7;
    margin-top: 90px;
}
.julia1-img {
  width: 400px;
  grid-column: 4/6
}
.julia2-img {
  width: 1200px;
  height: 500px;
  grid-column: 1/9;
  margin-top: 90px;
}
.bk1-img {
  width: 300px;
  grid-column: 1/2
}
.bk2-img {
  width: 900px;
  grid-column: 3/9;
  margin-top: 90px;
}
.ray1-img {
  width: 300px;
  grid-column: 1/2
}
.ray2-img {
  width: 900px;
  grid-column: 3/9;
  margin-top: 90px;
}
.bryce1-img {
  width: 300px;
  grid-column: 1/2
}
.bryce2-img {
  width: 900px;
  grid-column: 3/9;
  margin-top: 90px;
}







